<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>Vue.js App</title>
    <link rel="stylesheet" href="../test/main.css" />
  </head>
  <body>
    <div id="app">
        <ul>
            <li v-for="(item, index) in list" v-bind:key="item.id">
                ID. {{ item.id }} {{ item.name }} HP.{{ item.hp }}
                <span v-if="item.hp < 50" v-bind:style="styleObject">큰 피해!!</span>
                <button v-on:click="doRemove(index)">몬스터 제거하기</button>
                <button v-on:click="doAttack(index)">몬스터 공격하기</button>
            </li>
        </ul>
        <select>
            <option v-for="item in list1">
                {{ item }}
            </option>
        </select>
        <span v-for="item in 15">{{ item }}</span>
        <span v-for="item in [1,5,10,15]">{{ item }}</span><br>
        <span v-for="item in 'text'">{{ item }} <br></span>
        <br>
        <ul>
            <li v-for="(item, index) in list3" v-bind:key="item.id">
                ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }}
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
