#app3-15 {
    height: 1px;
}

#test {
    overflow: scroll;
    height: 40px;
    width: 100%;
    background-color: aqua;
}

header {
    height: 50px;
    overflow: scroll;
}

#scroll-test{
    height: 50px;
    overflow: scroll;
    background-color: aqua;
}

body{
    height: 1000vh;
}